.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App nav {
  background-color: black;
 padding: 10px
}

#nav-img2 {
  margin-left: 650px;
}

.headline {
  background-color: black;
  color: white;
  height:300px;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.headline button {
 margin-top: 50px;
 padding: 15px;
 border-radius: 5px;
 font-size: large;
}

.mainpart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.mainpart img {
  padding-top: 100px;
  width: 100px;
  height: 100px;
}

section p {
  display: flex;
  align-items: flex-start;

}